<!DOCTYPE html>
<html lang="en">
<head>
  
  {{ partial "head.html" . }}

  <body>

    {{ partial "nav.html" . }}

    <div role="main" class="container main-content">

      {{ if eq .Type "post" }}
        {{ partial "post.html" . }}
      {{ else if eq .Type "page" }}
        {{ partial "page.html" . }}
      {{ else if eq .Type "tags"}}
        {{ partial "taxonomies.html" . }}
      {{else if eq .Type "categories"}}
        {{ partial "categories.html" .}}
      {{else}}
        {{end}}

    </div>

    {{ partial "footer.html" . }}

  </body>
</html>
