{{ partial "header.html" . }}

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

      <article role="main" class="blog-post">
          {{ .Content }}
      </article>
<div class="row">
<div>
{{ if .Params.categories }}
  <strong>Categories:</strong>
  {{ range $index, $category := .Params.categories }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/categories/" }}">{{ . }}</a>{{ end }}
{{ end }}
<br />
{{ if .Params.tags }}
  <strong>Tags:</strong>
  {{ range $index, $tag := .Params.tags }}{{ if gt $index 0 }}, {{ end }}<a href="{{ "/tags/" }}">{{ . }}</a>{{ end }}
{{ end }} <br />
</div>
  </div>
  
      <ul class="pager blog-pager">
        {{ if .PrevInSection }}
        <li class="previous">
          <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; Previous Post</a>
        </li>
        {{ end }}
        {{ if .NextInSection }}
        <li class="next">
          <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">Next Post &rarr;</a>
        </li>
        {{ end }}
      </ul>
              <div>
        <h3>Looking for something specific? Search.</h3>
<script>
  (function() {
    var cx = '003420899800509316729:h45j9hocqui';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>
      {{ if .Site.DisqusShortname }}
      <div class="disqus-comments">
        {{ template "_internal/disqus.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</div>
